---
layout: default
title: "Deryk Makgill's Blog"
---

<h1>Deryk Makgill</h1>

Get my newsletter. It features long-form essays on startups, growth, metrics, and network effects. I’ve written 650+ essays which have been featured and quoted in The New York Times, Fortune, Wired, and WSJ.

These days, I’m an investor at Andreessen Horowitz, where I focus on consumer products, marketplaces, and bottoms up SaaS. Previously, I led growth teams at Uber. I’ll share from these experiences, and more, on my newsletter.


{% assign documents = site.documents | sort: 'date' | reverse %}

{% for document in documents limit:500 %}
  {% if document.layout == 'post' %}
<div class="article">
        <span class="date">{{ document.date | date: "%Y-%m-%d" }}</span>

             {% if document.layout == "post" %} <span class="title">   <a href="{{ document.url | relative_url }}">{{ document.title }} </a>
         </span>{% elsif document.layout == "link" %} <span class="title">   <a href="{{ document.link | relative_url }}"> {{ document.title }} | {{ document.site }} </a>→
         </span> 
         
        {% else %} <span class="title">   <a href="{{ document.url | relative_url }}">{{ document.date | date: "%H:%M:%S" }}   </a>
         </span>  {% endif %}
       
       
     
      
         
        
 </div> 
  {% endif %}   
{% endfor %}
