---
layout: default
---

 {%- if page.title -%}
    <h1 style="margin-bottom:0px;"class="page-title"> <a class="rss pull-right" href="/feed.xml"><i class="fa fa-rss"></i></a>
      
      {{ page.title }}</h1>
  {%- endif -%}

<div style="
    display: block;
    font-size: 1rem;
	    font-weight: bold;
">
    <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
    on
    <span class="site"><a href="/">Deryk Makgill's blog</a></span>
  </div>


 <!--{% if page.url != '/' %}
    <p class="date" style="
    margin-top: -20px;
">
        {% if page.date %}{{ page.date | date: "%Y-%m-%d" }}{% endif %}
        
    <span class="hidden-xs" style="display: none;">
          &mdash;
          <a href="{{ page.url }}">
            Permalink
          </a>
        </span>
    </p>
    {% endif %}--->

     {% if page.image %}
      <div class="post-image">
        <a href="{{ page.url | relative_url }}" style="
    text-decoration: none;
">
          <img src="{{ page.image | relative_url }}" alt="{{ page.alt }}">
          
        </a>
       </div>  
      {% endif %}  


  {{ content }}
  

<br><!--<div class="entry-meta" style="
    text-align: left; font-size: 10px;
">
			This entry was posted in <a href="https://slatestarcodex.com/category/uncategorized/" rel="category tag">Uncategorized</a> and tagged <a href="https://slatestarcodex.com/tag/meta/" rel="tag">meta</a> on <a href="https://slatestarcodex.com/2020/09/11/update-on-my-situation/" title="1:03 pm" rel="bookmark"><time class="entry-date" datetime="2020-09-11T13:03:32-07:00">September 11, 2020</time></a><span class="by-author"> by <span class="author vcard"><a class="url fn n" href="https://slatestarcodex.com/author/admin2/" title="View all posts by Scott Alexander" rel="author">Scott Alexander</a></span></span>.								</footer>
<br>
<br>--->
